body {
  background-color: #cd7f32;
  margin: 0;
  height:min-content;
}

img{
  max-width: 100%;
  max-height: 100%;
}

p {
  font-size: justify;
}

.banner {
  background-color: black;
  border-bottom: 2px black;
  position: fixed;
  margin: 0;
  display: grid;
  grid-template-columns: [first] 65% [second] auto [third] auto [four] auto;
  grid-auto-columns: max-content;
  border: none;
  width: 100%;
  height: 10vh;
  grid-column-gap: 5%;
  color:#f58f03;
}
.logo{
  padding-right: 50%;
}
.banner > div{
  grid-row:1;
  margin:2;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: auto;
}

.banner img{
  width:100%;
  height:100%;
}

.banner button{
  background-color: black;
  color: #f58f03;
  margin: 1%;
  font-size: 25px;
  width: 100%;
}
.banner button: hover{
  color: #cd7f32;
  text-decoration: underline;
  color: #cd7f32;
  cursor: pointer;
}

.about_container {
  border: 1px solid black;
  padding-top: 4%;
  margin-bottom: 2%;
}

.about_1 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.about_2{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 9;
}

.about_3{
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 8;
}

.about_1 h1 {
  padding: 2%;
}

.about_2 p {
  padding-left: 5%;
}

.about_container{
  display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 2vw);
    grid-gap: 5px;
}

.main{
  border: 1px solid black;
  display: grid;
  padding-top: 2%;

}
.main_container {
  background-color: #f58f03;
  scrollbar-width: none;
  grid-column: 2;
  grid-column-gap: 2px;
  grid-column-start: 5;
  grid-column-end: 9;
  height:42vw;
  width: 75vw;
  display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
}
#left_arrow{
  left: 20px;
  display: none;
}
#right_arrow{
  right: 20px;
}

.arrow{
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  color: black;
  border: none;
  outline: none;
  background-color: #f58f03;
  font-size: 2.2em;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 20%;
  margin-bottom: 20%;
}
.arrow: hover{
  background-color: black;
  color: #f58f03;
}
.arrow: active{
  background-color: #f58f03;
  color: black;
}

.skill {
  display: grid;
  scroll-snap-align: start;
}
.skill_title{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.skill h1 {
  padding-left: 2%;
}


.skill_container {
  grid-column-start: 3;
  grid-column-end: 9;
    display: grid;
    grid-auto-rows: fit-content;
    height:40vw;
    width:75vw;
    grid-gap: 1%;
}
.skill_container img{
  width: 50%;
  height: 50%;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.skill_container p{
  text-align: auto;
  word-wrap: break-word;
}

#skill_row1{
  grid-column: auto;
  grid-row: 1;
}
#skill_row2{
  grid-column: auto;
  grid-row: 2;
}

.projects {
  display: grid;
  overflow: hidden;
  scroll-snap-align: start;
}
.project_title{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}
.projects h1 {
  padding-left: 2%;
}

.Project_container {
  grid-gap:40px;
  grid-template-columns: auto auto;
  background-color: #cd7f32;
  display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
  height:40vw;
  width:75vw;
  overflow-y: scroll;
  scrollbar-width: none;
}
#project_grid{
  margin: auto;
}
#project_img{
  padding: 2px, 2px, 6px, 2px;
}
.projects img{
  height: 40em;
  width: 45em;
}
.personal{
  color: black;
  grid-column-start: 5;
  grid-column-end: 9;
  background-color: #cd7f32;
  grid-column-gap: 2px;
  grid-row-gap: 5px;
  display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
  width:75vw;
  scroll-snap-align: Start;
}
.contact {
  height: 25vh;
}
.contact_title{
  padding-bottom: 2%;
}
.contact_container{
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-columns: min-content;

}
.contact_container button{
  border: none;
  background-color: transparent;
}
.linked-in{
  height: 60%;
  width: auto;
}
.linked-in:hover{
  cursor: pointer;
  padding: 10px;
  background-color: #cd7f32;
}
.github{
  height: 60%;
  width: auto;
}
.github:hover{
  cursor: pointer;
  padding: 10px;
  background-color: #cd7f32;
}

.contact_title{
  padding-left: 2%;

}

